extends layout

block content
	form(class="form-horizontal" role="form")
		
		div(class="form-group")
			label(for="inputMeetingID" class="col-sm-2 control-label") Meeting ID
			div(class="col-sm-10")
				input(type="text" class="form-control" id="inputMeetingID" placeholder="Meeting ID")

			label(for="inputSessionID" class="col-sm-2 control-label") Session ID
			div(class="col-sm-10")
				input(type="text" class="form-control" id="inputSessionID" placeholder="Session ID")

			label(for="clientUrl" class="col-sm-2 control-label") Client Url
			div(class="col-sm-10")
				input(type="text" class="form-control" id="inputClientUrl" placeholder="<ip address>:<port>")
		
			div(class="col-sm-offset-2 col-sm-10")
				div(class="checkbox")
					label
						input(type="checkbox" id="rememberBox") 
					p Remember


			div(class="col-sm-offset-2 col-sm-10 event-list-item")
				div(id="connectUser", class="btn btn-default event-button") Send 
				p(class="event-type") Connect user


			div(class="col-sm-offset-2 col-sm-10 event-list-item")
				div(id="sendUserJoinEvent", class="btn btn-default event-button") Send 
				p(class="event-type") Send 'UserJoined' event

			//- div(class="col-sm-offset-2 col-sm-10 event-list-item")
			//- 	div(id="createMeeting", class="btn btn-default event-button") Send 
			//- 	p(class="event-type") Create a meeting

			div(class="col-sm-offset-2 col-sm-10 event-list-item")
				div(id="sendWhiteboardDrawEvent", class="btn btn-default event-button") Send 
				p(class="event-type") Send 'WhiteboardDrawRect' event

			div(class="col-sm-offset-2 col-sm-10 event-list-item")
				div(id="sendWhiteboardUpdShapeEvent", class="btn btn-default event-button") Send 
				p(class="event-type") Send 'whiteboardUpdShape' event


			label(for="inputJSON" class="col-sm-2 control-label") Send Arbitrary JSON event
			div(class="col-sm-10")
				code	
					textarea(type="text" class="form-control" id="inputJSON" placeholder="{ : }" rows="12")
				p Before submitting JSON object, verify it is valid with 
					span
						a(href="http://jsonlint.com/" target="_blank") JSON Lint 
				div(id="sendJSON", class="btn btn-default event-button") Send 
