body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.event-type{
	display: inline;
	margin-left: 20px;
}

.event-list-item{
	margin-bottom: 10px
}
#inputJSON{
	color:black;
}

.form-control{
	margin-bottom: 5px;
}

.footer {
	position: relative;
	margin-top: 60px;
	margin-bottom: -100px;
	clear:both;
	padding-top:20px;
	text-align:center;
} 

